#content {
  background-color: blanchedalmond;
  width: 600px;
  text-align: center;
  margin: auto;
}

#date {
  text-decoration: dashed;
  font-size: 50px;
  margin: auto;
  text-align: center;
  background-color: #eec1c7;
  margin-top: 74px;
}
tr {
  font-size: 20px;
  font-weight: bold;
  height: 50px;
}
td {
  width: 399px;
  border: solid #6d3e4d;
}
