a {
  font-family: 'Kanit', sans-serif;
  color: #16A085;
  text-decoration: none;
  font-size: 20px;
  text-transform: uppercase;
  transition: 0.4s;
  padding-left: 65px;
  letter-spacing: 2px;
}

a:hover {
  color: #e86a33;
}
