
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  background: rgba(22, 160, 133, 1);
  color: #333;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s;
  margin: 0 auto;
  margin-bottom: 50px;
  position: relative;
  top: -30px;
}

.button:hover {
  background: rgb(20, 149, 86);
  transform: scale(1.1);
}
