.pizza {
  text-align: center;
  box-shadow: 17px 7px 51px 0px gray;
}

.pizza-content {
  margin-top: 50px;
}

.step {
  margin-left: 350px;
  margin-top: 100px;
}

.pizza-content {
  display: flex;
}

.pizza-dough {
  margin-left: 99px;
  margin-top: 50px;
}
