
.header {
  display: flex;
  justify-content: center;
  margin-top: 32px;
}


.content-text {
  width: 1059px;
  height: 354px;
  text-align: center;
  margin: 0 auto;
  padding-top: 24px;
}

.content-wrap {
  background-color: #F5F6F7;
  padding-top: 49px;
  margin-top: -3px;
}
